# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/biblioteka/frontend/node_modules
/biblioteka/frontend/pnp
/biblioteka/frontend/pnp.js

# testing
/biblioteka/frontend/coverage

# production
/biblioteka/frontend/build

# misc
/biblioteka/frontend/DS_Store
/biblioteka/frontend/env.local
/biblioteka/frontend/env.development.local
/biblioteka/frontend/env.test.local
/biblioteka/frontend/env.production.local

/biblioteka/frontend/npm-debug.log*
/biblioteka/frontend/yarn-debug.log*
/biblioteka/frontend/yarn-error.log*
